<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let obra of obras">
      <ion-card class="shadow-md rounded-lg p-4 mb-4">
        <ion-card-header>
          <ion-card-title>{{ obra.titulo }}</ion-card-title>
          <ion-card-subtitle
            >{{ obra.estado ? 'Activo' : 'Inactivo' }}</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content> {{ obra.direccion }} </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
